@charset "UTF - 8";

/* Estilos básicos para o formulário e seus elementos */
body {
  background: rgb(40, 63, 143);
  font: normal 15pt Arial;
  font-size: 1rem;
}

header {
  color: white;
  text-align: center;
  height: auto;
}
.log {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  max-width: 100%;
  height: auto;
}
section {
  background: rgb(154, 200, 243);
  border-radius: 10px;
  margin: 20px auto;
  padding: 100px;
  width: 55%;
  max-width: 65%;
  margin: auto;
  line-height: 2;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
button {
  padding: 10px 15px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  align-items: center;
  border: 0;
  background-color: #b5e7ee;
  box-shadow: rgba(6, 9, 210, 0.991) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(188, 98%, 46%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(69, 95%, 50%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
#resultado {
  text-align: center;
}
footer {
  color: white;
  text-align: center;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  section {
    width: 100%; /* Ajuste conforme necessário */
  }
}
